* {
    padding: 0;
    margin: 0;
    font-family: "Kode Mono";
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}



.navbar > .container > .row {
    align-items: center;
}

#navbar {
    height: 100px;
    width: 100%;
    background-color: rgb(246, 209, 108);
}

.nav-logo {
    height: 100px;
    width: auto;
}


.col,
.nav-address {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-address {
    background-color: white;
    height: 50px;
    width: 100%;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
.nav-address > select,
.nav-address > input,
.nav-options > p {
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
}

.col p {
    padding: 10px;
    border: 2px solid rgb(246, 209, 108);
}
.nav-options > p:hover {
    border: 2px solid orangered;
}




.marq-imgs {
    height: 150px;
    width: auto;
    padding: 0rem 1rem;
}



.specials-display-card > .card {
    margin: 1rem;
}
.specials-display-card {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}





footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgoldenrodyellow;
}